*{
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
    position:relative;
 }

header{
    position:sticky;
    background-color: white;
    top: 0;
}

.banner{
    height: 75vh;
    background: url(./Multimedia/banner\ background.png) no-repeat center / cover;
}

@media (max-width: 991px) {
    .banner{
        height: 70%;
        display: flex;
    }
    .banner h1, p{
        text-align: center;
        margin-top: 25px;
    }
    .banner a{
        align-content: center;
    }    
    .banner img{
        height: 275px;
        width: 275px;
        margin: 25px 0 25px 0;
    }
    .barra{
        height: 30%;
    }
}

.banner h1{
    color: white;
    font-weight: 800;
    font-size: 4em;
}

.banner p{
    color: white;
    font-size: large;
}

.barra{
    color: white;
    height: 15vh;
    background-color: rgb(44, 156, 255);
}

.barra p{
    font-size: 1.4em;
    font-weight: 500;
}

.aboutus{
    background-color:rgb(44, 156, 255);
    color: white;
}

.aboutus h1{
    font-weight: 800;
}

.aboutus p{
    font-size: large;
}

.booknow{
    background-color: orange;
    color: white;
}

.booknow:hover{
    background-color: white;
    color: rgb(44, 156, 255);
}